.startBtn,
.infoBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.title{
    font-size:x-large;
    text-align: center;
    margin-top: 150px;
}

.startBtn button {
    font-size: 15px;
    color: white;
    background-color: rgb(48, 1, 100);
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.infoBox{
    width: 540px;
    background-color: white;
    border-radius: 5px;
    
}

.infoTitle{
    text-align: center;
}